/*MOBILE*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-style: normal;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  background-color: #323232;
}


.mobile-apple {
  height: 2rem;
  cursor: pointer;
}

.mobile-cart {
padding-right: 1rem;
cursor: pointer;
}

.burger {
  height: 1rem;
  width: 30px;
  padding: .5rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
}



.iphonex-title {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
  font-size: 30px;
  line-height: 1.125;
  letter-spacing: .004em
}

.say-hello {
  text-align: center;
   margin-top: 4px;
   font-size: 17px;
   line-height: 1.42115;
   font-weight: 400;
   font-weight: bold;
  letter-spacing: .012em;
}

.iphone-pic {
  padding-top: .25rem;
}

.iphone-pic img {
  height: 21rem;
      padding-left: 27%;
  margin-top: .5rem;
}

.available {
  text-align: center;
  padding-top: .5rem;
  color: #7C7C7C;
}

.learn-more-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.learn-more-container a {
  text-decoration: none;
  color: #0070c9;
  font-weight: bold;

}

.learn-more {
  padding-right: 1rem;
}

.pre-order {
  padding-left: 1rem;
}

.pics {
  height:30rem;
  background-color: lightgray;
  margin-top: .75rem;
}

.pics video {
  width: 100%;
  height: 20rem;
  /*background-image: url(./img/design_and_display_large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

.options-container {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem .5rem 1rem;
  font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    font-weight: bold;
    border-bottom: 1px solid #d6d6d6;
    width: 96%;
}

.plus {
  font-size: 10px;
  display: inline-block;

}

.options {
display: inline-block;
cursor: pointer;
}


.mobile-footer-container {
  font-size: 12px;
}

.footer-info {
  padding: 1rem;
padding-right: 9rem;
color: #7C7C7C;
}

.us-logo {
  padding-left: 1rem;
  display: inline-block;
  padding-right: .2rem
}

.us {
  display: inline-block;
  padding-bottom: 10px;
}

.policy-container {
  padding: 0 1.5rem 1rem 1rem;
}

.policy {
  color: #7C7C7C;
}

.policy-options {
  cursor: pointer;
}

.i {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
padding-right: 12px;
}

.footer-info a {
text-decoration:  none;
color: #0070c9;

}

.pics-container {
  display: grid;
grid-template-columns: 1fr;
grid-column-gap: .75rem;
padding: 0 .75rem .75rem .75rem;
grid-template-rows: auto;
}

.container-single-pic {
  padding: 0 .75rem .75rem .75rem;
}

.pics-single {
  height: 30rem;
background-color: lightgray;
}
#pic1 {
  background-image: url(./img/design_and_display_medium.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
#pic2 {
  background-image: url(./img/face_id_medium.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
#pic3 {
  background-image: url(./img/truedepth_camera_medium.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
#pic4 {
  background-image: url(./img/dual_cameras_medium.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#pic5 {
  background-image: url(./img/a11_bionic_medium.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#pic6 {
  background-image: url(./img/wireless_charging_medium.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.pics-single {
  background-image: url(./img/wireless_charging_medium.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}








/*.*/
